<?xml version="1.0"?>
<config>
    <modules>
        <Oyst_OneClick>
            <version>2.0.3</version>
        </Oyst_OneClick>
    </modules>
    <global>
        <helpers>
            <oyst_oneclick>
                <class>Oyst_OneClick_Helper</class>
            </oyst_oneclick>
        </helpers>
        <blocks>
            <oyst_oneclick>
                <class>Oyst_OneClick_Block</class>
            </oyst_oneclick>
        </blocks>
        <models>
            <oyst_oneclick>
                <class>Oyst_OneClick_Model</class>
            </oyst_oneclick>
        </models>
        <resources>
            <oyst_oneclick_setup>
                <setup>
                    <module>Oyst_OneClick</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </oyst_oneclick_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <oyst_id>
                    <to_order>*</to_order>
                </oyst_id>
                <oyst_extra_data>
                    <to_order>*</to_order>
                </oyst_extra_data>
            </sales_convert_quote>
            <sales_convert_order>
                <oyst_id>
                    <to_quote>*</to_quote>
                </oyst_id>
                <oyst_extra_data>
                    <to_order>*</to_order>
                </oyst_extra_data>
            </sales_convert_order>
        </fieldsets>
        <events>
            <controller_front_init_routers>
                <observers>
                    <oyst_oneclick>
                        <class>Oyst_OneClick_Controller_Api_Router</class>
                        <method>initControllerRouters</method>
                    </oyst_oneclick>
                </observers>
            </controller_front_init_routers>
            <sales_order_save_after>
                <observers>
                    <oyst_oneclick>
                        <class>oyst_oneclick/observer</class>
                        <method>handleOrderToCapture</method>
                    </oyst_oneclick>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Oyst_OneClick after="Mage_Adminhtml">Oyst_OneClick_Adminhtml</Oyst_OneClick>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <oyst_oneclick>
                <use>standard</use>
                <args>
                    <module>Oyst_OneClick</module>
                    <frontName>oyst_oneclick</frontName>
                </args>
            </oyst_oneclick>
        </routers>
        <layout>
            <updates>
                <oyst_oneclick>
                    <file>oyst_oneclick.xml</file>
                </oyst_oneclick>
            </updates>
        </layout>
    </frontend>
    <!-- Default configuration values -->
    <default>
        <payment>
            <oyst_oneclick>
                <model>oyst_oneclick/payment_method_oneClick</model>
                <order_status>pending</order_status>
                <title>Oyst OneClick</title>
            </oyst_oneclick>
        </payment>
    </default>
</config>
